*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  background: #fff;
  color: #777;
}

a {
  color: #c64f24;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #67b2b1;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
.font-body, body {
  font-family: 'Open Sans', sans-serif, sans-serif;
}

.font-var {
  font-family: Georgia, serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

label, legend, select {
  display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.as-heading__headline, .is-typeset .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
}

.as-heading__large, .is-typeset h2 {
  font-size: 1.75em;
  line-height: 1.2571429em;
}

.as-heading__medium, .is-typeset h3 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__normal, .is-typeset h4 {
  font-size: 1.5em;
  line-height: 1.2833333em;
}

.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .is-typeset h6 {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

.as-heading__headline--typeset, .is-typeset .headline {
  margin: 0 0 0.3142857em 0;
}

.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.4125em 0;
}

.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.4714286em 0;
}

.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.5076923em 0;
}

.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.55em 0;
}

.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 0.7333333em 0;
}

.as-para--typeset, .is-typeset p {
  margin: 0 0 0.5866667em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.5866667em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: disc;
}

.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .is-typeset blockquote {
  margin: 0.825em 0;
}

/* -------------------------------- 

Slider

-------------------------------- */
.cd-hero {
  position: relative;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.02);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.02);
  background: #f1f1f1;
  max-width: 1080px;
}

.cd-hero-slider {
  position: relative;
  height: 1080px;
  overflow: hidden;
  margin-left: 0;
}
.cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-hero-slider li.selected {
  /* this is the visible slide */
  position: relative;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.cd-hero-slider li.move-left {
  /* slide hidden on the left */
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
  /* the is-moving class is assigned to the slide which is moving outside the viewport */
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/*.arrows{
  position:absolute;
  top:300px;
  z-index:100;
}

.arrowl{
    left:20px;
}

.arrowr{
  right:20px;
}*/
/* -------------------------------- 

Single slide style

-------------------------------- */
.cd-hero-slider li {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cd-hero-slider li:first-of-type {
  background-size: 1920px auto;
  background-position: 40%;
}
.cd-hero-slider li:first-of-type .cd-half-width {
  max-width: 500px;
}
.cd-hero-slider li:first-of-type .cd-half-width p {
  max-width: 400px;
}
.cd-hero-slider li:nth-of-type(2) .cd-half-width {
  max-width: 540px;
}
.cd-hero-slider li:nth-of-type(2) .cd-half-width p {
  max-width: 400px;
}
.cd-hero-slider li:nth-of-type(3) {
  background-position: 0 80%;
}
.cd-hero-slider li:nth-of-type(3) .cd-half-width {
  max-width: 560px;
}
.cd-hero-slider li:nth-of-type(3) .cd-half-width p {
  max-width: 400px;
}
.cd-hero-slider li:nth-of-type(4) {
  background-size: cover;
  background-position: 0 50%;
}
.cd-hero-slider li:nth-of-type(4) .cd-half-width {
  max-width: 500px;
}
.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  /* this padding is used to align the text */
  /* Force Hardware Acceleration in WebKit */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-hero-slider .cd-img-container {
  /* hide image on mobile device */
  display: none;
}
.cd-hero-slider .cd-img-container img {
  position: absolute;
}
.cd-hero-slider .cd-bg-video-wrapper {
  /* hide video on mobile device */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cd-hero-slider .cd-bg-video-wrapper video {
  /* you won't see this element in the html, but it will be injected using js */
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
}
.cd-hero-slider .hero {
  display: inline;
}
.cd-hero-slider p {
  margin: .5em 0;
}
.cd-hero-slider .slide-buttons {
  display: inline-block;
}
.cd-hero-slider .slide-buttons:before {
  content: '';
  display: block;
  height: 2px;
  max-width: 80px;
  margin: .5em 0 1.5em 0;
}
.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
  padding-top: 170px;
}
.cd-hero-slider .cd-bg-video-wrapper {
  display: block;
}
.cd-hero-slider .cd-half-width {
  left: 10%;
}
.cd-hero-slider .cd-img-container {
  display: block;
}

/* -------------------------------- 

Single slide animation

-------------------------------- */
.cd-hero-slider .cd-half-width {
  opacity: 0;
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
}
.cd-hero-slider .move-left .cd-half-width {
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}
.cd-hero-slider .selected .cd-half-width {
  /* this is the visible slide */
  opacity: 1;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.cd-hero-slider .is-moving .cd-half-width {
  /* this is the slide moving outside the viewport 
  wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
  -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
  -o-transition: opacity 0s 0.5s, -o-transform 0s 0.5s;
  -webkit-transition: opacity 0s, -webkit-transform 0s;
  -webkit-transition-delay: 0.5s, 0.5s;
  transition: opacity 0s 0.5s, transform 0s 0.5s;
}
.cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
.cd-hero-slider li.selected.from-right .cd-half-width:first-of-type {
  /* this is the selected slide - different animation if it's entering from left or right */
  -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
  -o-transition: opacity 0.4s 0.2s, -o-transform 0.5s 0.2s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0.2s;
  transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
}
.cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
.cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2) {
  /* this is the selected slide - different animation if it's entering from left or right */
  -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s;
  -o-transition: opacity 0.4s 0.4s, -o-transform 0.5s 0.4s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.4s, 0.4s;
  transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
}
.cd-hero-slider .cd-full-width h2,
.cd-hero-slider .cd-full-width p,
.cd-hero-slider .cd-full-width .cd-btn {
  opacity: 0;
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}
.cd-hero-slider .move-left .cd-full-width h2,
.cd-hero-slider .move-left .cd-full-width p,
.cd-hero-slider .move-left .cd-full-width .cd-btn {
  opacity: 0;
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}
.cd-hero-slider .selected .cd-full-width h2,
.cd-hero-slider .selected .cd-full-width p,
.cd-hero-slider .selected .cd-full-width .cd-btn {
  /* this is the visible slide */
  opacity: 1;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.cd-hero-slider li.is-moving .cd-full-width h2,
.cd-hero-slider li.is-moving .cd-full-width p,
.cd-hero-slider li.is-moving .cd-full-width .cd-btn {
  /* this is the slide moving outside the viewport 
  wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
  -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
  -o-transition: opacity 0s 0.5s, -o-transform 0s 0.5s;
  -webkit-transition: opacity 0s, -webkit-transform 0s;
  -webkit-transition-delay: 0.5s, 0.5s;
  transition: opacity 0s 0.5s, transform 0s 0.5s;
}
.cd-hero-slider li.selected h2 {
  -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
  -o-transition: opacity 0.4s 0.2s, -o-transform 0.5s 0.2s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0.2s;
  transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
}
.cd-hero-slider li.selected p {
  -moz-transition: opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s;
  -o-transition: opacity 0.4s 0.3s, -o-transform 0.5s 0.3s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.3s, 0.3s;
  transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
}
.cd-hero-slider li.selected .cd-btn {
  -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s, background-color 0.2s 0s;
  -o-transition: opacity 0.4s 0.4s, -o-transform 0.5s 0.4s, background-color 0.2s 0s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.5s, background-color 0.2s;
  -webkit-transition-delay: 0.4s, 0.4s, 0s;
  transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
}

/* -------------------------------- 

Slider navigation

-------------------------------- */
.cd-slider-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  text-align: center;
  height: 60px;
  background-color: rgba(223, 223, 223, 0.3);
}
.cd-slider-nav nav, .cd-slider-nav ul, .cd-slider-nav li, .cd-slider-nav a {
  height: 100%;
}
.cd-slider-nav nav {
  display: inline-block;
  position: relative;
}
.cd-slider-nav .cd-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 4px 0 #999;
  -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
  -o-transition: -o-transform 0.2s, box-shadow 0.2s;
  -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
}
.cd-slider-nav .cd-marker.item-2 {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-slider-nav .cd-marker.item-3 {
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}
.cd-slider-nav .cd-marker.item-4 {
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}
.cd-slider-nav .cd-marker.item-5 {
  -moz-transform: translateX(400%);
  -ms-transform: translateX(400%);
  -webkit-transform: translateX(400%);
  transform: translateX(400%);
}
.cd-slider-nav ul {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
}
.cd-slider-nav li {
  display: inline-block;
  float: left;
}
.no-touch .cd-slider-nav li.selected a:hover {
  background-color: transparent;
}
.cd-slider-nav a {
  display: block;
  position: relative;
  font-size: 1rem;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  /*&::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    @include center(x);
    //background: url(../assets/cd-icon-navigation.svg) no-repeat 0 0;
  }*/
}
.no-touch .cd-slider-nav a:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.cd-slider-nav .cd-marker,
.cd-slider-nav li {
  width: 50px;
  background-color: rgba(197, 197, 197, 0.3);
}
.cd-slider-nav a {
  font-weight: 500;
  padding: 1em 0;
}

/* -------------------------------- 

Javascript disabled

-------------------------------- */
.no-js .cd-hero-slider li {
  display: none;
}
.no-js .cd-hero-slider li.selected {
  display: block;
}

.no-js .cd-slider-nav {
  display: none;
}

/* ::Print */
/* ------------------------------------------------------------ */
@media print {
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
